<div class="col-md-6">
    <div class="card card-spacing">
        <div class="blog-post section-padding">
          <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>
            <div class="card-block">
              
                <h2 class="nun-black-h3"><%= link_to blog.title.upcase, blog %></h2>
                <p class="blog-post-meta">Created
                    <%= distance_of_time_in_words(blog.created_at, Time.now)   %> ago</p>       
                    <p><%= markdown blog.body %></p>
            </div>


            <%  if blog.skills.any? %>
                <% blog.skills.each do |skill| %>
                    <%= render skill %>
                <% end %>
            <% end %>



        </div>
    </div>
</div>
