<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= f.label :topic_id %>
    <%= f.collection_select(:topic_id, Topic.all, :id, :title,
                              {
                                include_blank: true
                              },
                              class: 'form-control'
                            )
    %>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= f.collection_check_boxes :skill_ids, 
                                      Skill.all, :id, :title do |cb| %>
  <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
    </div>
  </div>   

  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="form-group">
    <!-- mapped to draft enum - enum gem -->
    <%= f.radio_button :status, 'draft' %>
    <%= f.label :status, 'Draft'  %>

    <!-- mapped to published enum - enum gem -->
    <%= f.radio_button :status, 'published' %>
    <%= f.label :status, 'Published'  %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 15, placeholder: "Content" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>