<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>
  <%= link_to fa_icon('long-arrow-left'), blogs_path, class: "arrow-icon-size" %>
  
  <%= render 'blog_nav' %>
  
  <% @blog.tag_list.each do |tag| %>
    <div class="category-item"><%= link_to tag, tagged_path(tag: tag) %></div>
  <% end %>  

  <p><%= markdown @blog.body %></p>

<% if @related_blogs.any? %>
  <%= render 'related_blogs' %>
<% end %>
