<%= form_for(@topic) do |form| %>
 <% if @topic.errors.any? %>
    <% @topic.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
  <div class="row pt-5">
      <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Submit",  class: "btn btn-primary btn-block mt-5" %>
      </div>  
    </div>
  </div>
<% end %>
