<%= form_for(@portfolio_item, html: { multipart: true }, :data => { :type => :json }) do |form| %>

 <% if @portfolio_item.errors.any? %>
    <% @portfolio_item.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
 
 <div class="row pt-5">
    <div class="col-md-6">
     <div class="form-group">
       <%= form.label :title %>
       <%= form.text_field :title, class: "form-control" %>
     </div>
     
     <div class="form-group">
       <%= form.label :subtitle %>
       <%= form.text_field :subtitle, class: "form-control" %>
     </div>
   </div>
   
   <div class="col-md-6">
     <div class="form-group">
       <%= form.label :body %>
       <%= form.text_area :body, class: "form-control", row: 13 %>
     </div>
   </div>
 </div>

   <div class="form-group">
    <label class="btn btn-primary">
       Upload main image <%= form.file_field :main_image, style: 'display: none;' %>
    </label>
   </div>
   
   <div class="form-group">
    <label class="btn btn-primary">
       Upload thumb image <%= form.file_field :thumb_image, style: 'display: none;' %>
    </label>
   </div>


    <div class="form-group">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <%= form.collection_check_boxes :skill_ids, 
                                        Skill.all, :id, :title do |cb| %>
    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
    </div>  

 <hr>
<div class="row">
  <div class="col-md-12 farts">
      <%= form.fields_for :technologies do |technology_form| %>
        <%= render 'technology_fields', f: technology_form %>
      <% end %>

      <div>
        <%= link_to_add_association 'Add Technology', form, :technologies %>
      </div>
    </div>
    
    
     <div class="actions">
       <%= form.button "Submit",  class: "btn btn-primary btn-block mt-5", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating Portfolio..."} %>
     </div>
  </div>
</div>
<% end %>
