<div class="card">
     <!--  I dont want to show item.thumb_image IF item.thumb_image is empty(nil). if you dont have an thumb_image it doesnt throw an error    -->
    <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
    <p class="card-text">
      <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></span>
      <span><%= portfolio_item.subtitle %></span>
      <p><%= portfolio_item.position %></p>
      <%= link_to "show", portfolio_show_path(portfolio_item.id), class: "btn btn-primary" %>
    </p>
</div>