<div class="col-md-4 d-flex">
  <div class="card mt-5" data-id="<%= portfolio_item.id  %>" style="width: 100%;">
      <%= image_tag(portfolio_item.thumb_image_url) if portfolio_item.thumb_image_url %>
    <div class="card-body flex-fill">
    <div>
        <% portfolio_item.technologies.each do |tech| %> 
          <span class="text-uppercase small-12 blue-500"><%= tech.name %> </span>
        <% end %>
    </div>
        <h3 class="large-24 xxx-bold"><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></h3>
        <h4 class="medium-18 light  grey-md-text"><%= portfolio_item.subtitle %></h4>       

        <% if portfolio_item.skills.any? %>
          <div class="container mt-4">
              <div class="row">
                  <% portfolio_item.skills.each do |skill| %>
                      <%= render skill %>
                  <% end %>
              </div>
          </div>
        <% end %>
    </div>
     <a><div class="card-footer">  

<%= link_to ('View    ' + "<i class='far fa-arrow-alt-from-left'></i>").html_safe, portfolio_show_path(portfolio_item.id), class: 'mt-2' %>                                 
     </div> </a>     
  </div>
</div>