<div class="col-md-4">
  <div class="card portfolio-card" data-id="<%= portfolio_item.id  %>">
      <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%', class: 'rounded portfolio-card-image' %>
      <p class="card-text">
        <h3 class="portfolio-card-title"><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></h3>
        <h4 class="portfolio-card-subtitle"><%= portfolio_item.subtitle %></h4>
          <%  if portfolio_item.technologies.any? %><strong>Technology used</strong><% end %>
        <% portfolio_item.technologies.each do |technology| %>
            <li class="tech-portfolio-card-item"><%= technology.name %></li>
        <% end  %>

            <%  if portfolio_item.skills.any? %>
                <% portfolio_item.skills.each do |skill| %>
                    <%= render skill %>
                <% end %>
            <% end %>


       <%= link_to "Full Details", portfolio_show_path(portfolio_item.id), class: "mt-2 btn btn-primary btn-block" %>
      </p>
  </div>
</div>