<div class="container">
    <%= react_component("PageBanner", {
      title: "Portfolio",
      text: "",
      icon: "fas fa-database"
    }) %>  
</div>          
 <div class="album text-muted">
      <div class="container">
        <!-- <%= source_helper("alert alert-warning") %> -->

            <%  if logged_in?(:site_admin) %>
             <%= link_to ("<i class='fa fa-plus'></i> " +'New Portfolio').html_safe, 
                         new_portfolio_path, 
                         class: 'btn btn-primary mb-3'  %>
            <% end %>

          <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
              <%= render partial: 'portfolio_item', 
                         collection: @portfolio_items %>
         </div>
      </div>
</div>

<%= javascript_tag do %>
  analytics.track('portfolio page visit through this');
<% end %>