<div class="container">
        <div class="ps-item-1 p-top-lg">
           <%= link_to ("<i class='fas fa-arrow-left fa-2x'></i>").html_safe, portfolios_path %>
        </div>  
        <div class="ps-item-2 p-top-lg">
          <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), class: "portfolio-show-img img-fluid" %>

            <div class="portfolio-show-card">
            <h2 class="xxx-bold xxx-bold spacing-sm m-top-sm"><%= @portfolio_item.title %></h2>
            <h2 class="medium-16 grey-md-text spacing-md"><%= @portfolio_item.subtitle %></h2>
                <p><%= @portfolio_item.body %></p>
                
                <% if @portfolio_item.technologies.any? %>
                    <div class="spacing-lg medium-16">
                        <div class="grey-md-text ">Tech Stack</div>
                        <% @portfolio_item.technologies.each do |tech| %>
                                <span class="xxx-bold"><%= tech.name %></span><br>
                        <% end %>
        
                
                    </div>
                <% end %>    
                <%  if @portfolio_item.skills.any? %>
                    <% @portfolio_item.skills.each do |skill| %>
                        <%= render skill %>
                    <% end %>
                <% end %>        
            
            </div>          
        </div>

        <div class="ps-item-3 m-top-lg">
            <%  if logged_in?(:site_admin) %>    
                <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-outline-warning' %>
            <%  end  %>       
        </div>
</div>