<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
<h1><%= @portfolio_item.title %></h1>
<h2><%= @portfolio_item.subtitle %></h2>
<p><%= @portfolio_item.body %></p>

<h2>Technologies Used</h2>
<% @portfolio_item.technologies.each do |tech| %>
      <p><%= tech.name %></p>
<% end %>
