<%= form_for (@job) do |form| %>

 <% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

 <div class="row pt-5">
    <div class="col-md-6">
     <div class="form-group">
       <%= form.label :company %>
       <%= form.text_field :company, class: "form-control" %>
     </div>
     
     <div class="form-group">
       <%= form.label :job_title %>
       <%= form.text_field :job_title, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= form.label :position %>
       <%= form.text_field :position, class: "form-control" %>
     </div>     
   </div>
   
   <div class="col-md-6">
    <div class="form-group">
       <%= form.label :date_text %>
       <%= form.text_field :date_text, class: "form-control" %>
     </div>   
     <div class="form-group">
       <%= form.label :body %>
       <%= form.text_area :body, class: "form-control", row: 20 %>
     </div>
   </div>
 </div>  
  <div class="actions">
       <%= form.submit "Submit",  class: "btn btn-primary btn-block mt-5" %>
</div>


<% end %>