<div class="container section-padding">
  <%= react_component("PageBanner", {
    title: "Past Job Experience",
    text: "I have developed a diverse range of skills from working at many early to mid-stage startups. I can wear many hats and fill in the gaps needed by my team and I always try to push my boundaries and learn new skills in design, code, devops, marketing and management.",
    icon: "fas fa-briefcase"
  }) %>                    
        <div class="row">
            <% @jobs.each do |job| %>
                <div class="col-md-12 d-flex">
                    <div class="card mt-4" style="width: 100%;">
                        <div class="card-body flex-fill">
                                <%= react_component("Job", { 
                                            company: job.company,
                                            website: job.website,
                                            title: job.job_title,
                                            position: job.position,
                                            date_text: job.date_text,
                                            body: truncate(job.body, length: 200),
                                            job_skills: job.skills,
                                            path: job_path(job),
                                                }) %>
                        </div>
                        <% if logged_in?(:site_admin) %>
                            <div class="card-footer">     
                                <div>
                                    <%= link_to "Edit Item", edit_job_path(job), class: 'btn btn-outline-warning' %>
                                </div>
                            </div>
                            <% end %>
                    </div>
                </div>
            <% end %>
        </div>  
<div class="mt-5">
      <%= react_component("PageBanner", {
        title: "Education",
        text: "I did my undergrad in business (B.B.A), then a post-grad in Advanced Design and Project Management, followed by a coding Bootcamp.",
        icon: "fas fa-graduation-cap"
      }) %>  
</div>      
    <%= render 'pages/education' %>      
</div>