  <div class="form-group">
    <%= f.radio_button :area, 'design' %>
    <%= f.label :area, 'design' %>

    <%= f.radio_button :area, 'development' %>
    <%= f.label :area, 'development' %>

    <%= f.radio_button :area, 'management' %>
    <%= f.label :area, 'management' %>

    <%= f.radio_button :area, 'marketing' %>
    <%= f.label :area, 'marketing' %>
  </div>