<div class="container section-padding">
  <%= react_component("PageBanner", {
    title: "Skills",
    text: "I have strong coding, design, marketing, and management skills from working in a diverse range of product development roles.",
    icon: "far fa-ballot"
  }) %>

  <%  if logged_in?(:site_admin) %>
      <%= link_to ("<i class='fa fa-plus'></i> " +'New Skill').html_safe, 
                  new_skill_path, 
                  class: 'btn btn-primary mb-3'  %>
    <% end %>                    
  <%= render 'pages/skills' %>
  <div class="mt-5">
        <%= react_component("PageBanner", {
          title: "Education",
          text: "I did my undergrad in business (B.B.A), then a post-grad in Advanced Design and Project Management, followed by a coding Bootcamp.",
          icon: "fas fa-graduation-cap"
        }) %>  
  </div>      
    <%= render 'pages/education' %>      

  
</div>