  <div class="<%= location  %>">
       <div><%= link_to 'Home', root_path, class: "nav-link" %></div>
       <div><%= link_to 'Portfolio', portfolios_path, class: "nav-link" %></div>
       <div><%= link_to 'Blogs', blogs_path, class: "nav-link" %></div>
       <div><%= link_to 'About Me', about_me_path, class: "nav-link" %></div>
       <div><%= link_to 'Contact', contact_path, class: "nav-link" %></div>   
  </div>