        <% @jobs.each do |job| %>
            <div class="col-md-12 d-flex">
                <div class="card" style="width: 100%;">
                    <div class="card-body flex-fill">
                        <h2><%= job.company %></h2><span><%= job.date_text %></span>
                        <h3><%= job.job_title %></h3>
                        <%= job.position  %>
                        <p><%= truncate(job.body, length: 100) %></p>
            
                        <% job.skills.each do |skill| %>
                            <%= render skill %>
                        <% end %>
                    </div>
                    <% if logged_in?(:site_admin) %>
                        <div class="card-footer">     
                            <div>
                                <%= link_to "Edit Item", edit_job_path(job), class: 'btn btn-warning' %>
                            </div>
                        </div>
                     <% end %>
                </div>
            </div>
        <% end %>