
<div class=" row spacing-lg">
  <div class="col-md-6">
  
    <h2 class="nun-black-h1">Management Skills</h2>
      <% @management_skills.each do |skill| %>
      <div class="card d-flex" style="width: 100%">
        <div class="card-body flex-fill">
          <div class="nun-black-h3"><%= link_to skill.title, skill_path(skill) %></div>
            <div class="row">
              <div class="col-sm-4">
                  <small>
                  <%  if skill.jobs.any?  %>
                    <%= link_to pluralize(skill.jobs.count, "job"), skill_path(skill) %>
                  <% end %>
                  </small>
              </div>
              <div class="col-sm-4">
                  <small>
                  <%  if skill.portfolios.any?  %>
                    <%= link_to pluralize(skill.portfolios.count, "projects"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div> 
              <div class="col-sm-4">
                  <small>
                  <%  if skill.blogs.any?  %>
                    <%= link_to pluralize(skill.blogs.count, "resources"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div>   
            </div>
        </div>
        </div>   
      <% end %>

  </div>

  <div class="col-md-6">
  
    <h2 class="nun-black-h1">Marketing Skills</h2>
      <% @marketing_skills.each do |skill| %>
      <div class="card d-flex" style="width: 100%">
        <div class="card-body flex-fill">
          <div class="nun-black-h3"><%= link_to skill.title, skill_path(skill) %></div>
            <div class="row">
              <div class="col-sm-4">
                  <small>
                  <%  if skill.jobs.any?  %>
                    <%= link_to pluralize(skill.jobs.count, "job"), skill_path(skill) %>
                  <% end %>
                  </small>
              </div>
              <div class="col-sm-4">
                  <small>
                  <%  if skill.portfolios.any?  %>
                    <%= link_to pluralize(skill.portfolios.count, "projects"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div> 
              <div class="col-sm-4">
                  <small>
                  <%  if skill.blogs.any?  %>
                    <%= link_to pluralize(skill.blogs.count, "resources"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div>   
            </div>
        </div>
        </div>   
      <% end %>

  </div>
</div>

<div class=" row spacing-lg">
  <div class="col-md-6">
  
    <h2 class="nun-black-h1">Management Skills</h2>
      <% @design_skills.each do |skill| %>
      <div class="card d-flex" style="width: 100%">
        <div class="card-body flex-fill">
          <div class="nun-black-h3"><%= link_to skill.title, skill_path(skill) %></div>
            <div class="row">
              <div class="col-sm-4">
                  <small>
                  <%  if skill.jobs.any?  %>
                    <%= link_to pluralize(skill.jobs.count, "job"), skill_path(skill) %>
                  <% end %>
                  </small>
              </div>
              <div class="col-sm-4">
                  <small>
                  <%  if skill.portfolios.any?  %>
                    <%= link_to pluralize(skill.portfolios.count, "projects"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div> 
              <div class="col-sm-4">
                  <small>
                  <%  if skill.blogs.any?  %>
                    <%= link_to pluralize(skill.blogs.count, "resources"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div>   
            </div>
        </div>
        </div>   
      <% end %>

  </div>

  <div class="col-md-6">
  
    <h2 class="nun-black-h1">Marketing Skills</h2>
      <% @development_skills.each do |skill| %>
      <div class="card d-flex" style="width: 100%">
        <div class="card-body flex-fill">
          <div class="nun-black-h3"><%= link_to skill.title, skill_path(skill) %></div>
            <div class="row">
              <div class="col-sm-4">
                  <small>
                  <%  if skill.jobs.any?  %>
                    <%= link_to pluralize(skill.jobs.count, "job"), skill_path(skill) %>
                  <% end %>
                  </small>
              </div>
              <div class="col-sm-4">
                  <small>
                  <%  if skill.portfolios.any?  %>
                    <%= link_to pluralize(skill.portfolios.count, "projects"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div> 
              <div class="col-sm-4">
                  <small>
                  <%  if skill.blogs.any?  %>
                    <%= link_to pluralize(skill.blogs.count, "resources"), skill_path(skill) %>
                  <% end %>
                  </small>  
              </div>   
            </div>
        </div>
        </div>   
      <% end %>

  </div>
</div>