<!DOCTYPE html>
<html>

<head>
    <title>
         <%= @page_title  %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,600,700,800,900" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Ovo" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <%= csrf_meta_tags %>
        <meta name="keywords" content="<%= @seo_keywords  %>" />

        <%= favicon_link_tag 'favicons/aw-favicon.ico' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
</head>

<body>

            <%= render 'shared/application_nav' %>
            <%= yield %>
            
            <%= render 'shared/main_footer' %>
            <%= alerts %>
            
</body>

</html>
