<!DOCTYPE html>
<html>

<head>
    <title>
         <%= @page_title  %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,600,700,800,900" rel="stylesheet">

    
    <%= csrf_meta_tags %>
        <meta name="keywords" content="<%= @seo_keywords  %>" />

        <%= favicon_link_tag 'favicons/aw-favicon.ico' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
            <%= video_tag(
                    'mist.mp4',
                    id: 'banner-background',
                    autoplay: true,
                    loop: true,
                    muted: true,
                    poster: 'home_bg.jpg'
                ) 
            %>
            <%= render 'shared/application_nav' %>
            <div class="container"> <%= yield %></div>
            <%= render 'layouts/footer' %>
            <%= alerts %>     

</body>

</html>